@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body>
<h1>My Favorite Song</h1>
<center><embed style="width: 750px; height: 450px;" src="https://www.youtube.com/embed/MrTz5xjmso4" controls /></center>

<div id="animation1"></div>
</body>